<!DOCTYPE html>
<html lang="en" ng-app="Start">
<head>
    <meta charset="UTF-8">
    <title>Jose Ocampo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="icon" href="icon/favicon.ico">
    <link href="/templates/politecnico-index/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="scripts/directives.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body ng-controller="ClickController">
    <div class="Manuela">
        <img src="imagenes/FONDO.jpg">
    </div>
    <div class="angular">
        <page-p1 class="a" ng-keydown="cont(0)"></page-p1>
        <page-p2 class="none a" ng-keydown="cont(0)"></page-p2>
        <page-p3 class="none a" ng-show="Icont==0" ng-keydown="cont(0)"></page-p3>
        <page-p4 ng-if="Icont==1"></page-p4>
        <page-p5 ng-if="Icont==2"></page-p5>
        <page-p6 ng-if="Icont==3"></page-p6>
        <page-p7 ng-if="Icont==4"></page-p7>
        <page-p8 ng-if="Icont==11"></page-p8>
        <page-p9 ng-if="Icont==12"></page-p9>
        <page-p10 ng-if="Icont==13"></page-p10>
        <page-p11 ng-if="Icont==14"></page-p11>
        <page-p12 ng-if="Icont==15"></page-p12>
        <page-p13 ng-if="Icont==16"></page-p13>
        <page-p14 ng-if="Icont==5"></page-p14>
        <page-p15 ng-if="Icont==41"></page-p15>
        <page-p16 ng-if="Icont==42"></page-p16>
        <page-p17 ng-if="Icont==43"></page-p17>
        <page-p18 ng-if="Icont==44"></page-p18>
        <page-p19 ng-if="Icont==45"></page-p19>
        <page-p20 ng-if="Icont==46"></page-p20>
        <page-p21 ng-if="Icont==47"></page-p21>
        <page-p22 ng-if="Icont==48"></page-p22>
        <page-p23 class="none a" ng-show="Icont==0" ng-keydown="cont(0)"></page-p23>
        <page-p24 ng-if="Icont==21"></page-p24>
        <page-p25 ng-if="Icont==22"></page-p25>
        <page-p26 ng-if="Icont==23"></page-p26>
        <page-p27 ng-if="Icont==24"></page-p27>
        <page-p28 ng-if="Icont==25"></page-p28>
        <page-p29 ng-if="Icont==26"></page-p29>
        <page-p30 ng-if="Icont==27"></page-p30>
        <page-p31 ng-if="Icont==28"></page-p31>
        <page-p32 ng-if="Icont==29"></page-p32>
        <page-p33 ng-if="Icont==30"></page-p33>
        <page-p34 ng-if="Icont==31"></page-p34>
        <page-p35 ng-if="Icont==32"></page-p35>
        <page-p36 ng-if="Icont==33"></page-p36>
        <page-p37 ng-if="Icont==34"></page-p37>
        <page-p38 ng-if="Icont==35"></page-p38>
        <page-p39 ng-if="Icont==36"></page-p39>
        <page-p40 class="none a" ng-show="Icont==0" ng-keydown="cont(0)"></page-p40>
    </div>
    <div id="pops" class="none">
        <img src="icon/close.png" alt="close" class="botton manito">
        <div class="b">
            <img src="imagenes/optimizadas/Juegos.jpg" class="PopUp" alt="PopUp" id="popup" onclick="close()">
        </div>
    </div>
    <script src="scripts/jQuery.js" type="text/javascript"></script>
    <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
    ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</body>
</html>