<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
    <div class="col-md-7">
        <div class="col-md-7 centrar">
            <div class="col-md-12">
                <img src="imagenes/Objetivo/Objetivo1.jpg" alt="picture1" class="IMGSuper MargenTop">
                <img src="imagenes/Objetivo/Objetivo3.jpg" alt="picture3" class="IMGSuper MargenTop">
            </div>
            <img src="imagenes/Objetivo/Objetivo2.jpg" alt="picture2" class="IMGSuper Absoluto ObCentrar">
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="col-md-5 centrar">
        <h2 class="FSize80 BBootom Ancho80 FCenter">Objetivo</h2>
        <h3 class="FSize50 FCenter">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        <div class="col-md-12">
            <p class="FCenter Borde FSize24">Minimizar la generación de residuos sólidos, fomentando la cultura de la no basura y de consumo sostenible en la intitución, por medio de una campaña de sensibilización, capacitación y comunicación.</p>
        </div>
    </div>
</div>