<div class="col-md-12">
    <div class="col-md-6 centrar">
        
    </div>
    <div class="col-md-6 centrar">
        <h2 class="FSize80 BBootom">EL PROYECTO</h2>
        <h3 class="FSize50 FCenter">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        <div class="col-md-12">
            <p class="FCenter Borde FSize24">Actividades relacionadas con el control en la generacion, la separacion,  el almacenamiento, el tratamiento y disposición final de residuos sólidos, contribuyendo a mejorar las condiciones ambientales de la Intitución</p>
        </div>
    </div>
</div>