<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG100 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 FCenter MargenTop">
                <img src="imagenes/P27.png" alt="Web" class="IMG100 Bloque MAuto">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 H100">
                <h2 class="FCenter FSize24 Blod">Registro audiovisual</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Cada actividad que se realice para la implementación del PMIRS debe contar con un registro audivisual que de cuenta de su realización. Este tipo de contenido se publica siempre y cuando lo autorice la coordinación del proyecto. Y  si es el caso, se publicaría en las redes sociales.</p>
            </div>
        </div>
    </div>
</div>