<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP manito" ng-click="cont(0)">
    <div class="col-md-6">
        <img src="imagenes/Target/Target1.png" alt="picture1" class="IMGSuper Absoluto Target1 manito" onclick="pop('imagenes/Target/Target1.png')">
        <img src="imagenes/Target/Target2.png" alt="picture3" class="IMGSuper Absoluto Target2 manito" onclick="pop('imagenes/Target/Target2.png')">
        <img src="imagenes/Target/Target3.png" alt="picture2" class="IMGSuper Absoluto Target3 manito" onclick="pop('imagenes/Target/Target3.png')">
    </div>
    <div class="col-md-6 centrar">
        <h2 class="FSize50 BBootom Ancho80 FCenter Blod">Target</h2>
        <h3 class="FSize24 FCenter Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        <div class="col-md-12">
            <p class="NoMargin FCenter">|</p>
            <p class="FCenter Borde FSize24">Estudiantes (14.898); docentes (1.466); decanos (6); directivos y administrativos (322); empleados de aseo (78); empleados de seguridad (58); administradores de locales comerciales, cafeterías (41) y Papelerías (12) y del centro médico (10).</p>
        </div>
    </div>
</div>