<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP manito" ng-click="cont(0)">
    <div class="col-md-12 centrar">
        <div class="col-md-12">
            <h2 class="FSize50 FCenter BBootom WAuto Blod">Imagen corporativa</h2>
            <h3 class="FSize24 FCenter WAuto2 Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12 MargenTop">
            <div class="col-md-6 BGWhite Borde">
                <div class="col-md-5 FCenter">
                    <img src="imagenes/logoRecicla.png" alt="" class="IMGGrande">
                    <p class="FSize24 Blod CBlack MargenTop">Logo</p>
                </div>
                <div class="col-md-7 FCenter">
                    <img src="imagenes/esloganP6.png" alt="" class="P6">
                    <p class="FSize24 Blod CBlack">Eslogan</p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 BordeSmall">
                <p class="FSize24 Izquierda FCenter">Deben estar visibles en todas las publicaciones y material entregable, generar recordación en los públicos objetivo.</p>
            </div>
        </div>
    </div>
</div>