<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP" ng-click="cont(0)">
    <div class="col-md-12 centrar">
        <div class="col-md-12">
            <h2 class="FSize50 FCenter BBootom WAuto Blod">Comunicados oficiales</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12 MargenTop FCenter">
            <div class="col-md-1"></div>
            <div class="col-md-2 BGWhite CBlack FCenter P14Borde" ng-click="cont(41)">
                <p class="MargenTop Blod FSize20">Circular <br>
                FG01</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 BBlack CWhite FCenter P14Borde" ng-click="cont(42)">
                <p class="MargenTop Blod FSize20">Acta general<br>
                    FG02</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 BGWhite CBlack FCenter P14Borde" ng-click="cont(43)">
                <p class="MargenTop Blod FSize20">Carta externa<br>
                    FG03</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 BBlack CWhite FCenter P14Borde" ng-click="cont(44)">
                <p class="MargenTop Blod FSize20">Memorando<br>
                    FG04</p>
            </div>
        </div>
        <div class="col-md-12 MargenTop FCenter">
            <div class="col-md-2"></div>
            <div class="col-md-2 BBlack CWhite FCenter P14Borde" ng-click="cont(45)">
                <p class="MargenTop Blod FSize20">Certificado<br>
                    FG05</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 BGWhite CBlack FCenter P14Borde" ng-click="cont(46)">
                <p class="MargenTop Blod FSize20">Nota interna<br>
                    FG07</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 BBlack CWhite FCenter P14Borde" ng-click="cont(47)">
                <p class="MargenTop Blod FSize20">Razonero<br>
                    FG15</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 BGWhite CBlack FCenter P14Borde" ng-click="cont(48)">
                <p class="MargenTop Blod FSize20">Carta interna<br>
                    FG16</p>
            </div>
        </div>
    </div>
</div>