<div class="col-md-12">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG100 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto2 Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <img src="imagenes/P23.png" alt="Puntos" class="IMG100 ZindexAtras PadingP23">
        </div>
        <div class="col-md-12 FCenter ZindexFrente FSize20 P23 MargenP23_1">
            <div class="col-md-2 FCenter MargenRight">
                <p class="BordeSmall " ng-click="cont(21)">Articulos<br>informativos</p>
                <p class="BordeSmall MTop2" ng-click="cont(22)">infografías</p>
                <p class="BordeSmall MTop" ng-click="cont(23)">Vox pop</p>
                <p class="BordeSmall MTop2" ng-click="cont(24)">Registro audiovisual</p>
            </div>
            <div class="col-md-2 MargenRight">
                <p class="BordeSmall" ng-click="cont(28)">E-card</p>
                <p class="BordeSmall MTop2" ng-click="cont(25)">Afiches</p>
                <p class="BordeSmall MTop2" ng-click="cont(26)">Pendones</p>
                <p class="BordeSmall MTop" ng-click="cont(27)">Suvenires y<br>recordatotios</p>
            </div>
            <div class="col-md-2 MargenRight">
                <p class="BordeSmall" ng-click="cont(29)">Comunicados<br>oficiales</p>
                <p class="BordeSmall MTop" ng-click="cont(30)">Voz a voz</p>
                <p class="BordeSmall MTop" ng-click="cont(31)">Concursos o lúdicas</p>
                <p class="BordeSmall MTop2" ng-click="cont(32)">Intervenciones<br>artísticas</p>
            </div>
            <div class="col-md-2 MargenRight">
                <p class="BordeSmall" ng-click="cont(36)">Eventos masivos<br>de sensibilización</p>
                <p class="BordeSmall MTop" ng-click="cont(34)">Charlas o capacitaciones</p>
                <p class="BordeSmall MTop" ng-click="cont(35)">Conferencias</p>
                <p class="BordeSmall MTop"  ng-click="cont(33)">Talleres de<br>creación</p>
            </div>
        </div>
    </div>
</div>