<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP" ng-click="cont(6)">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG100 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-7 FCenter MargenTop">
                <img src="imagenes/P34_1.png" alt="Web" class="P32_1 Inline MAuto MargenRight">
            </div>
            <div class="col-md-5 H100">
                <h2 class="FCenter FSize24 Blod">Concursos o lúdicas</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Realizar actividades recreativas una vez al mes, que integre el concepto del PMIRS, facilitando el aprendizaje de los conceptos y de las buenas prácticas que se deben tener en cuanto a manejo de residuos sólidos en la Institución.</p>
            </div>
        </div>
    </div>
</div>