<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
    <div class="col-md-12 centrar">
        <div class="col-md-12">
            <h2 class="FSize50 FCenter BBootom WAuto Blod">Comunicados oficiales</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12 MargenTop">
            <div class="col-md-7 FCenter MargenTop">
                <img src="imagenes/P16.jpg" alt="Web" class="IMG100">
            </div>
            <div class="col-md-5 H100">
                <h2 class="FCenter FSize24 Blod">Acta general FG02</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Debe diligenciarse en el formato establecido por la Institución (FG02), en cada reunión que se tenga con las directivas del Politécnico y con autoridades sanitarias. Y se archiva copia de la misma en la carpeta destinada para ello.</p>
            </div>
        </div>
    </div>
</div>