<div class="col-md-12">
	<div class="col-md-7"></div>
	<div class="col-md-5 centrar Introduccion">
		<img src="imagenes/LOGO_POLI _PNG2.png"/>
		<h4 class="titulo2 Izquierda Blod">Proyecto de Práctica</h4>
		<p class="Izquierda FSize15"><em>Guía gráfica para las comunicaciones del Programa de Manejo Integral de Residuos Sóldos - PMIRS-.</em></p>
		<h4 class="titulo2 Izquierda Blod">Para optar por el título profesional de</h4>
		<p class="Izquierda FSize15">Comunicador Audiovisual</p>
		<h4 class="titulo2 Izquierda Blod">Elaboración de contenidos y diseño</h4>
		<p class="Izquierda FSize15">Alejandra Ocampo Piedrahita</p>
		<h4 class="titulo2 Izquierda Blod">Asesora</h4>
		<p class="Izquierda FSize15">Paola Vargas Rendón</p>
		<h4 class="titulo2 Izquierda Blod">Desarrollador en Frontend</h4>
		<p class="Izquierda FSize15">José David Ocampo Piedrahita</p>
	</div>
</div>