<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP manito" ng-click="cont(0)">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG1003 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto2 Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-7">
                <div class="col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-11 FCenter">
                        <img src="imagenes/optimizadas/P34_1.jpg" alt="picture1" class="IMGSuper Bloque MargenTop manito" onclick="pop('imagenes/optimizadas/P34_1.jpg')">
                        <img src="imagenes/optimizadas/P34_2.jpg" alt="picture3" class="IMGSuper Bloque MargenTop manito" onclick="pop('imagenes/optimizadas/P34_2.jpg')">
                    </div>
                </div>
                <img src="imagenes/optimizadas/P34_3.jpg" alt="picture2" class="IMGSuper Absoluto ObCentrar2 manito" onclick="pop('imagenes/optimizadas/P34_3.jpg')">
            </div>
            <div class="col-md-5 H100 MargenTop">
                <h2 class="FCenter FSize24 Blod">Concursos o lúdicas</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Realizar actividades recreativas una vez al mes, que integre el concepto del PMIRS, facilitando el aprendizaje de los conceptos y de las buenas prácticas que se deben tener en cuanto a manejo de residuos sólidos en la Institución.</p>
            </div>
        </div>
    </div>
</div>