<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
    <div class="col-md-12 centrar">
        <div class="col-md-12">
            <h2 class="FSize50 FCenter BBootom WAuto">Canales de Comunicación</h2>
            <h3 class="FSize24 FCenter WAuto">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12 MargenTop">
            <div class="col-lg-6 FCenter MargenTop">
                <img src="imagenes/P13.jpg" alt="Web" class="IMG100">
            </div>
            <div class="col-md-1"></div>
            <div class="col-lg-5">
                <h2 class="FCenter FSize24 Blod">Carteleras institucionales</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter FSize20 BordeSmall">Los contenidos que se fiejn allí deberán ser autorizados por la coordinación del proyecto PMIRS y podrán permancer publicado hasta que la información esté desactualizada.
                    <br> <br>Se recomienda estar pendiente del estado de los contenidos, ya que es posible que personas ajenas al proyecto los quiten o hagan mas uso del material informativo.</p>
            </div>
        </div>
    </div>
</div>