<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP" ng-click="cont(5)">
    <div class="col-md-12 centrar">
        <div class="col-md-12">
            <h2 class="FSize50 FCenter BBootom WAuto Blod">Comunicados oficiales</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12 MargenTop">
            <div class="col-md-6 FCenter MargenTop">
                <img src="imagenes/P20.jpg" alt="Web" class="IMG100 HMedia" onclick="pop('imagenes/P20.jpg')">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 H100">
                <h2 class="FCenter FSize24 Blod">Nota interna FG07</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Debe diligenciarse en el formato establecido por la Institución (FG07). Este tipo de documento se utiliza para solicitar u ordenar la realización de una actividad y garantiza que el destinatario recibe el mensaje.</p>
            </div>
        </div>
    </div>
</div>