<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP" ng-click="cont(0)">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG1003 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto2 Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-7 FCenter MargenTop">
                <img src="imagenes/P28_2.jpg" alt="Web" class="P28 Inline MAuto MargenRight" onclick="pop('imagenes/P28_2.jpg')">
                <img src="imagenes/P28_1.jpg" alt="Web" class="P28 Inline MAuto NoMargin" onclick="pop('imagenes/P28_1.jpg')">
            </div>
            <div class="col-md-5 H100 MargenTop">
                <h2 class="FCenter FSize24 Blod">Afiches</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Se deben fijar en las carteleras y mantener allí por un tiempo mínimo de una semana según su contenido y teniendo en cuenta si la información sigue siendo actual. Su contenido debe ser concreto y que integre el concepto del PMIRS.</p>
            </div>
        </div>
    </div>
</div>