<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG100 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-7 FCenter MargenTop">
                <img src="imagenes/P39.png" alt="Web" class="IMG100 Inline MAuto MargenRight">
            </div>
            <div class="col-md-5 H100">
                <h2 class="FCenter FSize24 Blod">Evento masivo de sensibilización</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter Borde FSize20">Organizar un evento masivo de sensibilización cada año, que intefre el concepto del PMIRS, para dar a conocer la campaña y generar una conciencia ambiental en la comunidad académica.</p>
            </div>
        </div>
    </div>
</div>