<img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
<div class="col-md-12 centrar">
    <div class="col-md-12">
        <h2 class="FSize50 FCenter BBootom WAuto">Imagen corporativa</h2>
        <h3 class="FSize24 FCenter WAuto">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
    </div>
    <div class="col-md-12 MargenTop">
        <div class="col-md-6 BGWhite Borde">
            <div class="col-md-6">
                <img src="imagenes/logoRecicla.png" alt="" class="IMGGrande">
                <p></p>
            </div>
            <div class="col-md-6">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <p class="FSize20 Izquierda Borde">Deben estar visibles en todas las publicaciones y material entregable, generar recordación en los públicos objetivo.</p>
        </div>
    </div>
</div>
