<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP" ng-click="cont(4)">
    <div class="col-md-12 centrar">
        <div class="col-md-12">
            <h2 class="FSize50 FCenter BBootom WAuto Blod">Canales de Comunicación</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12 MargenTop">
            <div class="col-md-6 FCenter MargenTop">
                <img src="imagenes/P8.jpg" alt="Web" class="IMG100">
                <p class="FSize24"><a class="CWhite" target="_blank" href="http://www.politecnicojic.edu.co">http://www.politecnicojic.edu.co</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h2 class="FCenter FSize24 Blod">Página web institucional</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize18">Es administrada por la Oficina Asesora de Comunicaiones de la institución, por lo que la información que se desee publicar debe ser enviada directamente a esta dependencia.
                    <br> <br> Se recomienda entregar el producto a publicar con anticipación ya que deben revisar el material antes de. Además, la página se va actualizando dependiendo de la fehca de entrega y tipo de publicación, lo que puede tarder la gestión. </p>
            </div>
        </div>
    </div>
</div>