<div class="col-md-12">
    <div class="col-md-6 centrar">
        <div class="col-md-12 FCenter">
            <div class="col-md-4 BordeSmall">
                <img src="imagenes/Vinoculares.png" alt="Objetivo" class="IMGPequeña">
                <p class="FSize24">Objetivo</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 BordeSmall">
                <img src="imagenes/Lupa.png" alt="Target" class="IMGPequeña">
                <p class="FSize24">Target</p>
            </div>
        </div>
        <div class="col-md-12 FCenter MargenTop">
            <div class="col-md-3"></div>
            <div class="col-md-6 BordeSmall">
                <img src="imagenes/imagen_corporativa.png" alt="Imagen corporativa" class="IMGMedia">
                <p class="FSize24">Imagen corporativa</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="col-md-12 FCenter">
            <div class="col-md-4 BordeSmall">
                <img src="imagenes/canalesComu.png" alt="Objetivo" class="IMGPequeña">
                <p class="FSize24">Canales de comunicación</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 BordeSmall">
                <img src="imagenes/Documentos.png" alt="Target" class="IMGMedia">
                <p class="FSize24">Comunicados oficiales</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 centrar">
        <h2 class="FSize50 BBootom Blod">EL PROYECTO</h2>
        <h3 class="FSize24 FCenter Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        <div class="col-md-12">
            <p class="FCenter Borde FSize24">Actividades relacionadas con el control en la generacion, la separación,  el almacenamiento, el tratamiento y disposición final de residuos sólidos, contribuyendo a mejorar las condiciones ambientales de la Institución</p>
        </div>
    </div>
</div>