<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP manito" ng-click="cont(0)">
    <div class="col-md-6">
        <div class="col-md-7 centrar">
            <div class="col-md-12">
                <img src="imagenes/Objetivo/Objetivo1.jpg" alt="picture1" class="IMGSuper MargenTop manito" onclick="pop('imagenes/Objetivo/Objetivo1.jpg')">
                <img src="imagenes/Objetivo/Objetivo3.jpg" alt="picture3" class="IMGSuper MargenTop manito" onclick="pop('imagenes/Objetivo/Objetivo3.jpg')">
            </div>
            <img src="imagenes/Objetivo/Objetivo2.jpg" alt="picture2" class="IMGSuper Absoluto ObCentrar manito" onclick="pop('imagenes/Objetivo/Objetivo2.jpg')">
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="col-md-6 centrar">
        <h2 class="FSize50 BBootom Ancho80 FCenter Blod">Objetivo</h2>
        <h3 class="FSize24 FCenter Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        <p class="NoMargin">|</p>
        <div class="col-md-12">
            <p class="FCenter Borde FSize24">Minimizar la generación de residuos sólidos, fomentando la cultura de la no basura y de consumo sostenible en la institución, por medio de una campaña de sensibilización, capacitación y comunicación.</p>
        </div>
    </div>
</div>