<div class="col-md-12">
	<div class="col-md-7"></div>
	<div class="col-md-5 centrar Introduccion">
		<img src="imagenes/LOGO_POLI _PNG2.png"/>
		<h4 class="titulo2 Izquierda">Proyecto Practica</h4>
		<p class="Izquierda">Guia grafica para las comunicaciones del Programa de Manejo Integral de Residuos Sóldos - PMIRS-.</p>
		<h4 class="titulo2 Izquierda">Para optar por el titulo profesional de</h4>
		<p class="Izquierda">Comunicador Audiovisual</p>
		<h4 class="titulo2 Izquierda">Elaboracion de contenidos y diseño</h4>
		<p class="Izquierda">Alejandra Ocampo Piedrahita</p>
		<h4 class="titulo2 Izquierda">Asesora</h4>
		<p class="Izquierda">Paola Vargas Rendón</p>
		<h4 class="titulo2 Izquierda">Desarrollador en Frontend</h4>
		<p class="Izquierda">José David Ocampo Piedrahita</p>
	</div>
</div>