<div class="col-md-12">
    <img src="imagenes/devolver.png" alt="" class="IMGPequeña Absoluto MargenTopP">
    <div class="col-md-12 centrar">
        <div class="col-md-12 FCenter">
            <h2 class="FSize50 FCenter BBootom IMG100 Blod MAuto">Estrategias para difundir y promover</h2>
            <h3 class="FSize24 FCenter WAuto Blod">Programa de Manejo Integral de Residuos Sólidos -PMIRS-</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-7 FCenter">
                <img src="imagenes/P32_1.jpg" alt="Web" class="P32_1 Inline MAuto MargenRight">
                <img src="imagenes/P32_2.jpg" alt="Web" class="P32_2 Inline MAuto NoMargin">
            </div>
            <div class="col-md-5 H100">
                <h2 class="FCenter FSize24 Blod">Comunicados oficiales</h2>
                <p class="FCenter NoMargin">|</p>
                <p class="FCenter BordeSmall FSize20">Cada que se vaya a realizar una actividad se debe informar a la comunidad académica teniendo en cuenta los formatos establecidos por la Intitución para tal fin.</p>
            </div>
        </div>
    </div>
</div>