body{
	height: 100vh;
	width: 100vw;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}
.Manuela{
	position: absolute;
	z-index: -1;
}
.Manuela>img{
	height: 100vh;
	width: 100vw;
}
.titulo1{
	font-size: 80px;
	text-align: right;
	width: 100%;
	margin-bottom: 0;
}
.titulo2{
	font-size: 18px;
}
.parrafoS{
	width: 100%;
	font-size: 24px;
}
.FSize24{
	font-size: 24px;
}
.CWhite{
	color: white;
}
.CBlack{
	color: black;
}
.FSize80{
	font-size: 80px;
}
.FSize50{
	font-size: 50px;
}
.Ancho80{
	width: 80%;
}
.FCenter{
	text-align: center;
}
.Blod{
	font-weight: bold;
}
.BBootom{
	border-bottom: solid white 4px;
}
.Borde{
	border: solid white 2px;
	border-radius: 50px;
	padding: 4vh;
}
.MargenIMG{
	margin: 0 5vw;
}
.IMGMedia{
	height: 80px;
	width: 100%;
}
.IMGPequeña{
	height: 40px;
}
.IMGGrande{
	width: 120px;
}
.IMGSuper{
	height: 200px !important;
}
.BordeSmall{
	border: solid white 2px;
	border-radius: 25px;
	padding-top: 3vh;
}
.MargenTop{
	margin: 5vh 0;
}
.MargenTopP{
	margin: 3vh 0;
}
.parrafoP{
	width: 100%;
	font-size: 35px;	
}
.centrar{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: right;
}
.centrar>img{
	height: 20vh;
}
.Introduccion{
	color: black;
	background-color: white;
	height: 90vh !important;
	border-radius: 8%;
	margin-top: 5vh;
}
.Izquierda{
	width: 80%;
	text-align: left;
}
.Derecha{
	width: 80%;
	text-align: right;
}
.Justificado{
	text-align: justify;
}
.none{
	display: none;
}
.Absoluto{
	position: absolute;
}
.ObCentrar{
	top: 30vh;
	left: 23vw;
}
.Target1{
	top: 8vh;
	left: 8vw;
	z-index: 1;
}
.Target2{
	top: 35vh;
	left: 16vw;
	z-index: 2;
}
.Target3{
	top: 60vh;
	left: 24vw;
	z-index: 1;
}